.container-fluid{
    box-sizing: border-box;
    background-color: #A4DAF8;
    width:100% ;
    height: 557px;
    color: aliceblue;
    position: relative;
    font-family: Montagu Slab;
}
.title{
    position: absolute;
    top: -2.4em;
    left:190px;
    width: 100px;
}


.div1{
    position: relative;
    width: 50%;
    height: 10%;
    color: black;
    top:50% ;
    left:20% ;
    font-weight: 600;
    font-size: 37px;
   
    line-height: 36px;
    word-spacing: 5px;
    z-index: 1;
}

.div2{
    position:relative;
    color: black;
    width:45% ;
    height: 20%;
    line-height: 22px;
    left: 20%;
    top: 110%;
    font-size: 15px;
    
}

a:link{
    text-decoration: none;
}
.boutton{
    border-radius: 15px;
    border: none;
    font-weight: 100;
    color:black;
    background-color: aliceblue;
    position: absolute;
    top:170%;
    left: 20%;
    font-weight: bold;
    width: 370px;
    word-spacing: 7px;
    font-size: 20px;
    text-align: center;
    box-shadow: 0px 4px 4px 0px #00000040 ;
    
}

.img{
position:relative;
    left:70px;
   
    top:87px;
    z-index: 1;
   
}
.icon{
   
    position: absolute;
   top:33%;
   left :-2rem;
}
#ico{
    position: relative;
  left:2%;
  z-index: 0;
}
.abs {
    position: absolute;
   
   
}
@media screen and (max-width:1010px) 
{
.container-fluid{
    height: 1500px;
    
    
}    
    
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.row1{
justify-content: center;
text-align: center;
}
.section1 h3{
text-align: center;
font-size: 24px;
font-family: 'Montagu Slab';
font-style: normal;
font-weight: 600;
margin-top: 60px;
line-height: 31px;

}
.Titre{
    text-align: center;
}
.section1{
text-align: center;
background: #E5F9FE;
box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
position: relative;
justify-content: center;
margin: 8px;
margin-bottom: 90px;
padding: 15px;

}
#sec{
    background: #A4DAF8;
}

.section1 .image{
   position: absolute;
   top: -12%;
   left: 40%;
   align-items: center;
  
}


#bouton2{
    border-radius: 25px;
    font-family: 'Montagu Slab';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;  
    background-color: aliceblue ;
    color: rgb(10, 1, 1);
    border-color: white;
    box-shadow: 5px 5px 5px #807a7a;
    text-align: center;
    justify-content: center;
    width: 395px;
    margin-bottom: 10%;
    }

.image2{
position: absolute;
width: 110px;
height: 110px;
}
.image3{
position: relative;
left: 37px;
top: 35px;
width: 80px;
height: 80.25px;
}
#image4{
position: absolute;
left: -10px;
width: 118px;
height: 118px;
}
#image5{
position: relative;
left: 60%;
top: 35px;
width: 80px;
height: 80px;
}
#image6{
width: 119px;
height: 119px;
}
.title{
    display: none;
}
.section1 .image:hover{
    transition-duration: 0.25s ;
    transition-property: transform;
    transform: rotate(360deg);
}
.section1:hover{
    background-color: rgb(193, 94, 6) ;
    padding:5px ;
    height: 20rem; 
   color: white;
   
}
